/*ul.menu-items-fly {*/
/*    display: none;*/
/*    margin: 0;*/
/*    overflow-y: auto;*/
/*    padding: 7px 10px;*/
/*    width: fit-content;*/
/*    border: 1px solid #dcdcde;*/
/*    border-radius: 0.25rem;*/
/*    box-shadow: 0 2px 4px rgba(0,0,0,0.1);*/
/*    position: absolute;*/
/*    z-index: 9999999;*/
/*    background: #fff;*/
/*    top: 0;*/
/*    min-width: 150px;*/
/*}*/

/*ul.menu-items-fly li:hover {*/
/*    border-radius: 5px;*/
/*    background: #f2f2f2;*/
/*}*/

/*li.menu-item-option {*/
/*    padding: 5px 13px;*/
/*    font-size: 16px;*/
/*}*/

.menu-items-fly {
    /*display: none; */
    /* margin: 0; */
    overflow-y: auto;
    padding: 7px 10px;
    width: fit-content;
    border: 1px solid #dcdcde;
     border-radius: 0.25rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    /* position: absolute; */
    /* z-index: 9999999; */
    background: #fff;
    /* top: 0; */
    /* min-width: 150px; */
    /*border-bottom-right-radius: 0.25rem;*/
    /*border-bottom-left-radius: 0.25rem;*/
}

span.parent-menu-fly {
    display: block;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    overflow: hidden;
    padding: 7px 13px;
    width: -moz-fit-content;
    background: #fefafa;
    white-space: nowrap;
    margin: -7px -10px 10px;
}

.menu-items-fly li:hover {
    border-radius: 5px;
    background: #e5f5ffe3;
}

.menu-item-option {
    padding: 5px 13px;
    font-size: 16px;
    white-space: nowrap;
    cursor: pointer;
}

.wrap-menu-items-fly {
    display: none;
    overflow-y: auto;
    padding: 0 0 0 20px;
    position: absolute;
    z-index: 9999999;
    top: 0;
}

.sub-accordion:hover .wrap-menu-items-fly {
    display: block;
    left: 100%;
}
.sub-accordion:hover .sub-accordion-action {
    background-color: #e5f5ffe3
}
